#header{
	background: url("../images/headerbg.png") repeat-x scroll 0 0 #fff;
	height:105px;
}
#header .contWidth{
	position: relative;
	height:105px;
	width:990px;
	margin:0 auto;
	z-index:100;
}
#header .logo{
	float:left;
	margin:0 0 0 10px;
	color:#fff;
	line-height:80px;
}
#header .search{
	position: absolute;
	left:198px;
	top:20px;
}



#inputSearch{
	border:1px solid #bababa;
	color:#999;
	font-size:14px;
	height:17px;
	padding:3px 6px 5px 6px;
	width:200px;
}
#inputSearch.focus{
	border:1px solid #00a5ff;
}


#skin{
	float:right;
	margin:10px;
	padding:4px;
	width:120px;
}
#skin li{
	float:left;
	margin-right:4px;
	width:15px;
	height:15px;
	overflow:hidden;
	display:block;
	cursor:pointer;
	text-indent:-9999px;
	background-image: url(../images/theme.gif);
}
#skin_0{
	background-position: 0px 0px;
}
#skin_1{
	background-position: 15px 0px;
}
#skin_2{
	background-position: 35px 0px;
}
#skin_3{
	background-position: 55px 0px;
}
#skin_4{
	background-position: 75px 0px;
}
#skin_5{
	background-position: 95px 0px
}
#skin_0.selected{
	background-position: 0px 15px;
}
#skin_1.selected{
	background-position: 15px 15px;
}
#skin_2.selected{
	background-position: 35px 15px;
}
#skin_3.selected{
	background-position: 55px 15px;
}
#skin_4.selected{
	background-position: 75px 15px;
}
#skin_5.selected{
	background-position: 95px 15px;
}

/*导航样式开始*/
.mainNav{
	position: absolute;
	top:68px;
	left:0px;
	height:37px;
	line-height:37px;
	width:990px;
	z-index:100;
	background-color: #4a4a4a;
}
.mainNav .nav{
	display: inline;
	float:left;
	margin-left:25px;
}
.mainNav ul li{
	float:left;
	display: inline;
	margin-right:14px;
	position: relative;
	z-index: 100;
}
.mainNav ul li a{
	display:block;
	padding:0 8px;
	font-weight: 700;
	color:#fff;
	font-size:14px;
}
.mainNav ul li a:hover{
	background: none;
}
/*二级菜单*/
.jnNav{
	background: #fff;
	border:1px solid #b1b1b1;
	border-top:0px;
	position: absolute;
	overflow: hidden;
	top:37px;
	left:0px;
	width:474px;
	z-index: 1000;
	display:none;
}
.jnNav .subitem{
	float:left;
	height:auto !important;
	min-height:100px;
	padding:10px 12px;
	width:450px;
}
.jnNav .subitem dl{
	border-top:1px dashed #c4c4c4;
	overflow: hidden;
	padding:8px 0;
	float: left;
}
.jnNav .subitem .fore{
	border-top-style:none;
	padding-top:0;
}
.jnNav .subitem dt{
	float:left;
	font-weight: bold;
	line-height: 16px;
	padding: 4px 3px;
	text-align:center;
	width:76px;
}
.jnNav .subitem dt a{
	color:#000;
	font-weight:700;
	font-size:12px;
	padding:0;
}
.jnNav .subitem dd{
	float:left;
	overflow: hidden;
	padding:0px;
	width:364px;
}
.jnNav .subitem em {
	border-right:1px solid #ccc;
	float:left;
	font-style:normal;
	height:14px;
	line-height:14px;
	margin:5px 0;
	padding:0 8px;
}
.jnNav .subitem em a{
	color:#666;
	white-space: nowrap;
	font-size:12px;
	font-weight: normal;
	padding:0px;
}
.jnNav .subitem em.noborder{
	border-right:none;
}
/* 网站主体 */
#content{
	clear:both;
	margin:0 auto;
	width:990px;
	position:relative;
	font-size:12px;
}
.janeshop{
	height:560px;
	padding:10px 0;
	overflow: hidden;
}
#jnCatalog{
	float:left;
	height:560px;
	margin:0 11px 0 0 ;
	overflow: hidden;
	width:187px;
}
#jnImageroll{
	float:left;
	height:320px;
	margin:0px 12px 0 0;
	overflow:hidden;
	position:relative;
	width:550px;
}
#jnNotice{
	float:left;
	height:321px;
	overflow:hidden;
	width:230px;
}
#jnBrand{
	float:left;
	height:230px;
	margin:10px 0;
	overflow:hidden;
	width:790px;
}
/* 左边商品分类 */
#jnCatalog h2{
	height:30px;
	line-height:30px;
	font-weight: bold;
	text-indent:13px;
	color:#fff;
	font-size:14px;
	background-color: #6e6e6e;
}
.jnCatainfo{
	border:1px solid #6e6e6e;
	border-style:none solid solid;
	border-width:0 1px 1px;
	height:524px;
	overflow: hidden;
	padding:5px 10px 0;
	width:165px;
}
.jnCatainfo h3{
	border-bottom:1px solid #eee;
	height:24px;
	line-height:24px;
	width:164px;
	clear:both;
	font-size:13px;
	font-weight:bold;
}
.jnCatainfo ul{
	float:left;
	padding:0 2px 8px;
}
.jnCatainfo li{
	color:#aeadae;
	float:left;
	height:24px;
	line-height:24px;
	width:79px;
	overflow:hidden;
	position: relative;
}
.jnCatainfo li a{
	color:#444;
}
.jnCatainfo li a:hover{
	color:#008cd7;
	text-decoration:none;
}
.jnCatainfo li a.promoted{
	color:#f9044e;
}
.jnCatainfo li .hot{
	background: url("../images/hot.gif") no-repeat scroll 0 0 transparent;
	height:16px;
	position:absolute;
	top:2px;
	width:21px;
}
/* 大屏广告 */
#jnImageroll img{
	position:absolute;
	left:0px;
	top:0px;
}
#jnImageroll div{
	position:absolute;
	bottom:0px;
	overflow:hidden;
	float:left;
}
#jnImageroll div a{
	background-color: #444;
	color:#fff;
	display:inline-block;
	float:left;
	height:32px;
	margin-right:1px;
	overflow:hidden;
	padding:5px 15px;
	text-align:center;
	width:79px;
}
#jnImageroll div a:hover{
	text-decoration:underline;
}
#jnImageroll div a em{
	cursor:pointer;
	display:block;
	height:16px;
	overflow:hidden;
	width:79px;
}
#jnImageroll .last{
	margin:0px;
	width:80px;
}
#jnImageroll a.chos{
	background: url('../images/adindex.gif') no-repeat center 39px #37a7d7;
	color:#fff;
}
/* 最新动态 */
#jnMiaosha{
	float:left;
	height:176px;
	margin-bottom:10px;
	overflow:hidden;
	width:230px;
}
#jnNoticeInfo{
	float:left;
	border:1px solid #dfdfdf;
	height:133px;
	overflow:hidden;
	width:228px;
}
#jnNoticeInfo h2{
	height:23px;
	line-height:23px;
	border-bottom:1px solid #dfdfdf;
	text-indent:12px;
}
#jnNoticeInfo ul{
	float:left;
	padding:6px 2px 0px 12px;
}
#jnNoticeInfo li{
	height:20px;
	line-height:20px;
	overflow:hidden;
}
#jnNoticeInfo li a{
	color:gray;
}
#jnNoticeInfo li a:hover{
	color:#008cd7;
	text-decoration:none;
}
#tooltip{
	position:absolute;
	border:1px solid #333;
	background-color: #f7f5d1;
	padding:1px;
	color:#333;
	display:none;
	font-size:12px;
}
/* 品牌活动 */
#jnBrandTab{
	border-bottom:1px solid #e4e4e4;
	float:left;
	height:29px;
	position:relative;
	width:790px;
}
#jnBrandTab h2{
	height:29px;
	line-height:29px;
	left:0px;
	position:absolute;
	width:100px;
	font-size:14px;
}
#jnBrandTab ul{
	position:absolute;
	right:0px;
	top:10px;
}
#jnBrandTab ul li {
	float:left;
	margin:0 10px 0 0 ;
}
#jnBrandTab li a{
	background-color: #e4e4e4;
	color:#000;
	display:inline-block;
	height:20px;
	line-height:20px;
	padding:0 10px;
}
#jnBrandTab .chos{
	background: url('../images/chos.gif') no-repeat scroll 50% bottom transparent;
	padding-bottom:3px;
}
#jnBrandTab .chos a{
	background-color: #fa5889;
	color:#fff;
	outline:0 none;
}
#jnBrandContent{
	float:left;
	height:188px;
	overflow:hidden;
	margin:8px 5px;
	width:790px;
	position:relative;
}
#jnBrandList{
	position:absolute;
	left:0px;
	top:0px;
	width:3200px;
}
#jnBrandList li{
	float:left;
	height:188px;
	overflow:hidden;
	padding:0 5px;
	position:relative;
	width:185px;
}
#jnBrandList li img{
	left:5px;
	position:absolute;
	top:0px;
}
#jnBrandList li span{
	background-color: #efefef;
	position:absolute;
	bottom:0px;
	color:#666;
	display:block;
	font-size:14px;
	height:24px;
	line-height:24px;
	overflow:hidden;
	text-align:center;
	width:183px;
}
#jnBrandList li a {
	color:#666;
}
#jnBrandList li a:hover{
	color:#008cd7;
	text-decoration:none;
}
.imageMask{
	background-color:#ffffff; 
	filter:alpha(opacity=0);
	opacity: 0;
	cursor: pointer;
}
.imageOver{
	background:url('../images/zoom.gif') no-repeat 50% 50%;
	filter:alpha(opacity=60);
	opacity:0.6;
}

/* detail start*/
#jnProitem{
	float:left;
	width:312px;
	height:560px;
	display:inline;
}
/* 产品大图和产品缩略图 start */
#jnProitem .jqzoomWrap{
	border:1px solid #bbb;
	cursor:pointer;
	float:left;
	padding:0px;
	position:relative;
}
#jnProitem span{
	clear:both;
	display:block;
	padding-bottom:10px;
	padding-top:10px;
	width:320px;
	text-align:center;
}
#jnProitem ul.imgList{
	height:80px;
}
#jnProitem ul.imgList li{
	float:left;
	margin-right:10px;
}
#jnProitem ul.imgList li img{
	width:60px;
	height:60px;
	padding:1px;
	background-color: #eee;
	cursor:pointer;
}
#jnProitem ul.imgList li img:hover{
	padding:1px;
	background-color: #999;
}
/* 产品大图和产品缩略图 end */

/* detail end */